<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Acceso</title>
    <link rel="stylesheet" th:href="@{/styles/Accesos.css}">
</head>
<body>

<div class="vista">
    <h2 class="vista_titulo">Editar Acceso</h2>

    <div class="panel">
        <form th:action="@{/accesos/actualizar}" th:object="${acceso}" method="post">

            <input type="hidden" th:field="*{id}">

            <select th:field="*{tipoPersona}" required>
                <option value="visita">Visita</option>
                <option value="residente">Residente</option>
                <option value="personal">Personal</option>
            </select>

            <input type="number" th:field="*{idSeguridad}" required>

            <input type="datetime-local" th:field="*{horaEntrada}" required>

            <input type="datetime-local" th:field="*{horaSalida}">

            <button type="submit" class="btn editar">Actualizar</button>
        </form>
    </div>
</div>

</body>
</html>